@namespace XNet.Shared.Components.CocoUi

<span class="coco-badge @GetStatusClass()">
    @ChildContent
</span>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public CocoStatus Status { get; set; } = CocoStatus.Success;

    public enum CocoStatus { Success, Warning, Danger, Info }

    private string GetStatusClass() => Status switch
    {
        CocoStatus.Success => "coco-badge-success",
        CocoStatus.Warning => "coco-badge-warning",
        CocoStatus.Danger => "coco-badge-danger",
        _ => "coco-badge-info"
    };
}
